* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
	box-sizing: border-box;
	height: 100svh;
	width: 100svw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#factDiv {
	box-sizing: border-box;
	padding: 2rem;
	background-color: #d9dddc;
	width: 100%;
	min-height: 30%;
	height: max-content;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#theFact {
	font-size: 3rem;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	color: black;
	text-wrap: wrap;
}

#theRefresh {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1rem;
	color: black;
	font-weight: 900;
	border: none;
	background: none;
	font-size: 1rem;
}

#theRefresh:hover {
	color: red;
}

@media only screen and (max-device-width: 767px) {
	#factDiv {
		height: 100svh;
		width: 100svw;
	}

	#theFact {
		font-size: 1rem;
		overflow: auto;
	}

	#theRefresh {
		font-size: 0.5rem;
		padding: 0.4rem;
	}
}
